*.iml
.gradle
/local.properties
.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/daemon
/jdks
/kotlin-profile
/native
/caches
/android
/.tmp
/wrapper
/app/release
/wrapper/
