<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nothing.commonutils">

    <application>

        <activity android:name=".activity.SpListActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="com.nothing.commonUtils.SpList" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <provider
            android:name=".InitProvider"
            android:authorities="commonUtils" />
        <service
            android:name=".services.CommonBackgroundServer"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>